/Shiny Hunt Tracker/bin/Debug/Shiny_Hunt_Tracker.exe
/Shiny Hunt Tracker/bin/Debug/app.publish/Shiny_Hunt_Tracker.exe
/Shiny Hunt Tracker/obj/Debug/Shiny_Hunt_Tracker.exe
/Shiny Hunt Tracker/obj/Debug/Shiny_Hunt_Tracker.g.resources
